h2 {
  margin: 0px;
  padding: 0px;
  padding-top: 21px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  width:178;
  height:26;
}
.website {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;




}
